.events-summary-container-item-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px;
    &__name {
        color: #ffffff;
        font-family: Lato;
        font-size: 75px;
        font-weight: 300;
        text-transform: uppercase;
    }
    &__event {
        color: #ffffff;
        font-family: Lato;
        font-size: 75px;
        font-weight: 700;
        text-transform: uppercase;
    }
}