.events-summary-container-item {
    background-color: #fff;
    transition-duration: 0.5s;
    box-shadow: 0 2px 5px 1px rgba(30, 30, 30, 0.2);
    @include mediaScreenMaxWidth($mobile-width) {}
    &__summary {
        @include mediaScreenMaxWidth($mobile-width) {
            width: 90%;
            margin: auto;
        }
    }
    &__line {
        width: 100%;
        margin-top: 5px;
        height: 4px;
        @include mediaScreenMaxWidth($mobile-width) {
            display: none;
        }
        &_external {
            background-color: #4ca59a;
        }
        &_interactive {
            background-color: #f26250;
        }
        &_internal {
            background-color: #f0a765;
        }
    }
    &:hover {
        box-shadow: 0 0 65px 3px rgba(30, 30, 30, 0.26);
        transform: scale(1.1);
        z-index: 1;
        transition-duration: 0.5s;
    }
    @include mediaScreenMaxWidth($mobile-width) {
        &:hover {
            box-shadow: none;
            transform: none;
        }
    }
    &_external {
        @include mediaScreenMaxWidth($mobile-width) {
            box-shadow: none;
            background: url("../images/events-first-bg.png") no-repeat top center;
            background-size: cover;
        }
    }
    &_interactive {
        @include mediaScreenMaxWidth($mobile-width) {
            transform: none;
            background: url("../images/events-second-bg.png") no-repeat top center;
            background-size: cover;
        }
    }
    &_internal {
        @include mediaScreenMaxWidth($mobile-width) {
            background: url("../images/events-third-bg.png") no-repeat top center;
            background-size: cover;
        }
    }
}