@import "./events-header.scss";
@import "./events-summary.scss";
@import "./events-borderline.scss";
@import "./events-summary-container.scss";
@import "./events-summary-container-item-header.scss";
@import "./events-summary-container-item.scss";
@import "./events-summary-container-item-summary.scss";
.events {
    background-color: #e8e8e8;
    &__header {
        padding-top: 60px;
        @include mediaScreenMaxWidth($tablet-width) {
            padding-top: 155px;
        }
        @include mediaScreenMaxWidth($mobile-width) {
            display: none;
        }
    }
    &__summary {
        margin-top: 100px;
        @include mediaScreenMaxWidth($tablet-width) {
            margin-top: 200px;
        }
        @include mediaScreenMaxWidth($mobile-width) {
            margin-top: 0;
        }
    }
    @include mediaScreenMaxWidth($mobile-width) {
        background-color: #fff;
    }
}