.header-nav-panel {
    width: 100%;
    &__menu {
        display: flex;
        height: 100%;
        margin-left: 95px;
        @include mediaScreenMaxWidth($tablet-width) {
            height: initial;
            margin: 0;
            justify-content: flex-end;
        }
    }
    &__menu-item {
        display: flex;
        align-items: center;
        height: 100%;
        padding: 0px 20px;
        color: #fff;
        font-family: $menu-item-font-family;
        font-size: $menu-item-desktop-font-size;
        @include mediaScreenMaxWidth($tablet-width) {
            padding: 54px 12px;
            font-size: $menu-item-tablet-font-size;
        }
    }
    &__menu-item:hover {
        box-sizing: border-box;
        border-top: 2px solid white;
        background-color: #161515;
        font-weight: 600;
    }
}