@import "./header-burger-menu.scss";
@import "./header-log-in.scss";
@import "./header-logo.scss";
@import "./header-navigation.scss";
@import "./header-register.scss";
.header {
    display: flex;
    padding: 0 212px;
    background-color: #121111;
    @include mediaScreenMaxWidth($tablet-width) {
        padding: 0 170px;
    }
    &__logo {
        margin: 0px 45px;
        @include mediaScreenMaxWidth($tablet-width) {
            display: none;
        }
        @include mediaScreenMaxWidth($mobile-width) {
            margin: auto;
            display: block;
        }
    }
    &__nav-panel {
        display: block;
        @include mediaScreenMaxWidth($mobile-width) {
            display: none;
        }
    }
    &__log-in {
        cursor: pointer;
        margin: 0 52px 0 0;
        @include mediaScreenMaxWidth($tablet-width) {
            margin: 0 38px 0 60px;
        }
        @include mediaScreenMaxWidth($mobile-width) {
            display: none;
        }
    }
    &__register {
        cursor: pointer;
        @include mediaScreenMaxWidth($mobile-width) {
            display: none;
        }
    }
    &__menu-burger {
        display: none;
        @include mediaScreenMaxWidth($mobile-width) {
            position: absolute;
            top: 62px;
            right: 48px;
            display: block;
        }
    }
}