.features-header {
    text-align: center;
    color: $main-theme-color;
    font-family: $main-font-family;
    font-weight: 300;
    &__text {
        font-size: 66px;
        letter-spacing: 4px;
    }
    &__borderline {
        margin-top: 12px;
    }
}