.features-list-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-right: 1px solid #037693;
    &__container {
        width: 70%;
    }
    &-last {
        border-right: none;
    }
}