.features-list-summary {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    &__item {
        flex-grow: 1;
        width: 33%;
        margin-top: 55px;
        @include mediaScreenMaxWidth($tablet-width) {
            width: 40%;
            margin-top: 110px;
        }
        @include mediaScreenMaxWidth($mobile-width) {
            margin-top: 30px;
        }
    }
}