@import "./interaction-icons.scss";
@import "./interaction-small-panel.scss";
@import "./interaction-summary.scss";
.interaction {
    background-color: $main-theme-color;
    display: flex;
    color: white;
    font-family: $main-font-family;
    &__summary {
        width: 40%;
        @include mediaScreenMaxWidth($tablet-width) {
            width: 65%;
        }
    }
    &__icons {
        width: 45%;
    }
}