.interaction-summary {
    &__header {
        margin-top: 35px;
        @include mediaScreenMaxWidth($tablet-width) {
            margin-top: 155px;
        }
        @include mediaScreenMaxWidth($mobile-width) {
            margin-top: 35px;
        }
    }
    &__paragraph {
        font-size: 20px;
        line-height: 25px;
        margin-bottom: 45px;
        @include mediaScreenMaxWidth($tablet-width) {
            font-size: 28px;
            line-height: 35px;
            width: 70%;
            text-align: center;
            margin-bottom: 0px;
        }
        @include mediaScreenMaxWidth($mobile-width) {
            width: initial;
            font-size: 14px;
            line-height: 18px;
            margin-bottom: 0;
        }
    }
    &__paragraph-second {
        @include mediaScreenMaxWidth($tablet-width) {
            margin-bottom: 120px;
        }
        @include mediaScreenMaxWidth($mobile-width) {
            margin-bottom: 22px;
        }
    }
    @include mediaScreenMaxWidth($tablet-width) {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

.interaction-summary-header {
    &__main-text {
        color: #ffffff;
        width: 470px;
        font-size: 83px;
        font-weight: 700;
        @include mediaScreenMaxWidth($tablet-width) {
            width: inherit;
            font-size: 45px;
            text-align: center;
        }
        @include mediaScreenMaxWidth($mobile-width) {
            font-size: 20px;
        }
    }
    &__additional-info {
        margin-top: 20px;
        margin-bottom: 60px;
        @include mediaScreenMaxWidth($tablet-width) {
            margin-top: 40px;
        }
        @include mediaScreenMaxWidth($mobile-width) {
            margin-top: 12px;
            margin-bottom: 12px;
        }
    }
}

.interaction-summary-header-additional-info {
    display: flex;
    align-items: flex-end;
    &__text {
        color: #ffffff;
        font-size: 35px;
        @include mediaScreenMaxWidth($tablet-width) {
            font-size: 45px;
        }
        @include mediaScreenMaxWidth($mobile-width) {
            font-size: 15px;
        }
    }
    &__line {
        width: 320px;
        height: 2px;
        background-color: #ffffff;
        @include mediaScreenMaxWidth($tablet-width) {
            margin-top: 20px;
        }
        @include mediaScreenMaxWidth($mobile-width) {
            width: 100px;
            margin-top: 5px;
        }
    }
    @include mediaScreenMaxWidth($tablet-width) {
        flex-direction: column;
        align-items: center;
    }
}