@import "./live-interaction-events.scss";
@import "./live-interaction-phone.scss";
@import "./live-interaction-summary.scss";
.live-interaction {
    display: flex;
    justify-content: center;
    padding: 0 203px;
    align-items: center;
    overflow-x: hidden;
    background: url("../images/first-section-background.jpg") no-repeat top center;
    background-size: cover;
    &__summary {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        margin: 295px 0px 290px;
        @include mobile {
            width: 100%;
            margin: auto;
            padding: 193px 0 90px 0;
        }
        @include tablet {
            margin: 0px 173px;
            padding: 232px 0px;
        }
    }
    &__btns-list {
        margin-top: 206px;
        margin-left: 212px;
        @include mobile {
            margin-top: 90px;
        }
        @include tablet {
            margin-top: 163px;
        }
    }
    &__phone {
        display: flex;
        flex-shrink: 0;
        margin-top: 272px;
        @include mobile {
            display: none;
        }
        @include tablet {
            right: 170px;
        }
    }
}