.about-us-summary-content {
    display: flex;
    &__description {
        width: 100%;
        margin-bottom: 60px;
        @include mediaScreenMaxWidth($tablet-width) {
            margin-top: 80px;
        }
        @include mediaScreenMaxWidth($mobile-width) {
            margin-top: 10px;
        }
    }
    &__icons {
        width: 100%;
        @include mediaScreenMaxWidth($tablet-width) {
            margin-top: 70px;
        }
        @include mediaScreenMaxWidth($mobile-width) {
            margin-top: 0;
        }
    }
    @include mediaScreenMaxWidth($tablet-width) {
        flex-direction: column-reverse;
    }
}