.how-it-works-header {
    text-align: center;
    color: $main-theme-color;
    font-family: $main-font-family;
    font-weight: 300;
    &__text {
        font-size: 66px;
        letter-spacing: 4px;
        @include mediaScreenMaxWidth($tablet-width) {
            font-size: 56px;
        }
    }
    &__borderline {
        margin-top: 12px;
        @include mediaScreenMaxWidth($mobile-width) {
            margin-top: 8px;
        }
    }
}