.how-it-works-instruction-summary {
    width: 95%;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    @include mediaScreenMaxWidth(1050px) {
        width: 70%;
    }
    @include mediaScreenMaxWidth($mobile-width) {
        width: 95%;
    }
}