$menu-burger-image-size: 70px;
$phone-image-desktop-size: 450px;
$phone-image-tablet-size: 360px;
$menu-item-desktop-font-size: 30px;
$menu-item-tablet-font-size: 25px;
$main-header-font-size-desktop: 68px;
$main-header-font-size-tablet: 55px;
$main-header-font-size-mobile: 58px;
$heading-text-font-size-desktop: 40px;
$heading-text-font-size-tablet: 30px;
$heading-text-font-size-mobile: 35px;
$header-btn-font-size-desktop: 25px;
$header-btn-font-size-tablet: 21px;
$header-btn-font-size-mobile: 33px;
$header-item-font-family: "Lato",
sans-serif;
$mobile-width: 375px;
$tablet-width: 768px;
$desktop-width: 1920px;