$menu-burger-image-size: 70px;
$phone-image-desktop-size: 450px;
$phone-image-tablet-size: 360px;
$menu-item-desktop-font-size: 30px;
$menu-item-tablet-font-size: 26px;
$main-header-font-size-desktop: 68px;
$main-header-font-size-tablet: 55px;
$main-header-font-size-mobile: 45px;
$heading-text-font-size-desktop: 40px;
$heading-text-font-size-tablet: 32px;
$heading-text-font-size-mobile: 26px;
$header-btn-font-size-desktop: 25px;
$header-btn-font-size-tablet: 20px;
$header-btn-font-size-mobile: 24px;
$main-font-family: "Lato",
sans-serif;
$mobile-width: 750px;
$tablet-width: 1536px;
$desktop-width: 1920px;
$main-theme-color: #037693;